@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* dark mode scrollbar */

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background: #c1c0c0;
}

::-webkit-scrollbar-thumb{
  background: #173f95;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
  background: #0b2d76;
}